/* src/styles/Navbar.css */
.navbar {
  padding: 15px 0;
  /* From https://css.glass */
  background: rgba(238, 238, 238, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(238, 238, 238, 0.35);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #3498db, 2px 2px 0 #2980b9, 3px 3px 0 #2c3e50,
    4px 4px 0 #2c3e50;
  transition: color 0.3s ease;
}

.navbar-logo:hover {
  color: #9b59b6;
  text-shadow: 1px 1px 0 #8e44ad, 2px 2px 0 #6c3483, 3px 3px 0 #512e5f,
    4px 4px 0 #512e5f;
}

/* 
.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-links {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: #3498db;
} */

/*  */
/* From https://css.glass */
